@charset "utf-8";
/* default */
@font{ font-family:NanumGothic; font-size:12px; src:url('/EWS/Common/font/NanumGothic.eot') }
@font{ font-family:NanumGothic; font-size:12px; src:url('/EWS/Common/font/NanumGothicExtraBold.eot') }
body, div, span, p, a, address, em, img, summary, ul, li, dl, dt, dd, em, form, table, tr, th, td{margin:0;padding:0;line-height:14px;}
body,input{line-height:14px;font-family:"돋움",dotum,Sans-serif;font-size:12px;color:#464646}
h1, h2, h3, h4, h5{margin:0;padding:0;font-weight:normal;font-size:12px}
img{border:0 none;font-size:0;line-height:0;vertical-align:middle}
fieldset{border:0 none}
li{list-style:none}
.blind, legend{position:absolute;left:0;top:-5000px;height:0;font-size:0;line-height:0;visibility:hidden;overflow:hidden;}
caption{height:0;font-size:0;text-indent:-5000px;line-height:0;visibility:hidden;overflow:hidden}
input, select, textarea{margin:0;padding:0;vertical-align:middle;border:0 none;border:1px solid #bbb;font-size:12px;}
table{border-collapse:collapse;}
table .bd_none{border-right:0 none}
a{text-decoration:none}
.transparent{ background-color:transparent; }


/* 버튼[S] */
.button01_left{ background:url('/EWS/Common/images/btn_common.gif') no-repeat left top; width:1px; }
.button01_left_on{ background:url('/EWS/Common/images/btn_common.gif') no-repeat left top; width:1px; }
.button01_center{ 
	background:url('/EWS/Common/images/btn_common.gif') no-repeat 50% top;
	padding:5px 8px 4px 8px;
	color:#948D73;
	font-weight:bold;
	display:block;
}
.button01_center_on{
	background:url('/EWS/Common/images/btn_common.gif') no-repeat 50% top;
	padding:5px 8px 4px 8px;
	color:#000;
	font-weight:bold;
	display:block;
}
.button01_right{ background:url('/EWS/Common/images/btn_common01.gif') no-repeat right top; width:1px; }
.button01_right_on{ background:url('/EWS/Common/images/btn_common01.gif') no-repeat right top; width:1px; }

.btn02_L{ background:url('/EWS/Common/images/img_btn11.jpg') no-repeat left top; width:1px; }
.btn02_L_on{ background:url('/EWS/Common/images/img_btn11.jpg') no-repeat left top; width:1px; }
.btn02_C{ 
	background:url('/EWS/Common/images/img_btn11.jpg') no-repeat 50% top;
	padding:5px 8px 5px 8px;
	color:#ffffff;
	font-weight:bold;
	display:block;
}
.btn02_C_on{
	background:url('/EWS/Common/images/img_btn11.jpg') no-repeat 50% top;
	padding:5px 8px 5px 8px;
	color:#7B4F02;
	font-weight:bold;
	display:block;
}
.btn02_R{ background:url('/EWS/Common/images/img_btn022.jpg') no-repeat right top; width:1px; }
.btn02_R_on{ background:url('/EWS/Common/images/img_btn022.jpg') no-repeat right top; width:1px; }

.btn03_L{ background:url('/EWS/Common/images/btn_login_ok.jpg') no-repeat left top; width:1px; }
.btn03_L_on{ background:url('/EWS/Common/images/btn_login_ok.jpg') no-repeat left top; width:1px; }
.btn03_C{ background:url('/EWS/Common/images/btn_login_ok.jpg') repeat-x 50% top; }
.btn03_C_on { background:url('/EWS/Common/images/btn_login_ok.jpg') repeat-x 50% top; }
.btn03_R{ background:url('/EWS/Common/images/btn_login_ok.jpg') no-repeat right top; width:1px; }
.btn03_R_on{ background:url('/EWS/Common/images/btn_login_ok.jpg') no-repeat right top; width:1px; }

.btn04_L{ background:url('/EWS/Common/images/add_up.gif') no-repeat left top; width:1px; }
.btn04_L_on{ background:url('/EWS/Common/images/add_up.gif') no-repeat left top; width:1px; }
.btn04_C{ background:url('/EWS/Common/images/add_up.gif') repeat-x 50% top; }
.btn04_C_on { background:url('/EWS/Common/images/add_up.gif') repeat-x 50% top; }
.btn04_R{ background:url('/EWS/Common/images/add_up.gif') no-repeat right top; width:1px; }
.btn04_R_on{ background:url('/EWS/Common/images/add_up.gif') no-repeat right top; width:1px; }

.btn05_L{ background:url('/EWS/Common/images/del_up.gif') no-repeat left top; width:1px; }
.btn05_L_on{ background:url('/EWS/Common/images/del_up.gif') no-repeat left top; width:1px; }
.btn05_C{ background:url('/EWS/Common/images/del_up.gif') repeat-x 50% top; }
.btn05_C_on { background:url('/EWS/Common/images/del_up.gif') repeat-x 50% top; }
.btn05_R{ background:url('/EWS/Common/images/del_up.gif') no-repeat right top; width:1px; }
.btn05_R_on{ background:url('/EWS/Common/images/del_up.gif') no-repeat right top; width:1px; }

.btn06_L{ background:url('/EWS/Common/images/btn_logout.gif') no-repeat left top; width:1px; }
.btn06_L_on{ background:url('/EWS/Common/images/btn_logout.gif') no-repeat left top; width:1px; }
.btn06_C{ background:url('/EWS/Common/images/btn_logout.gif') repeat-x 50% top; }
.btn06_C_on { background:url('/EWS/Common/images/btn_logout.gif') repeat-x 50% top; }
.btn06_R{ background:url('/EWS/Common/images/btn_logout.gif') no-repeat right top; width:1px; }
.btn06_R_on{ background:url('/EWS/Common/images/btn_logout.gif') no-repeat right top; width:1px; }

.btn07_L{ background:url('/EWS/Common/images/btn_header.png') no-repeat left top; width:1px; }
.btn07_L_on{ background:url('/EWS/Common/images/btn_headerOn.png') no-repeat left top; width:1px; }
.btn07_C{ 
	background:url('/EWS/Common/images/btn_header.png') no-repeat center top;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	padding-top:2px;
	padding-bottom:3px;
	font-family:'나눔고딕';
}
.btn07_C_on{
	background:url('/EWS/Common/images/btn_headerOn.png') no-repeat center top;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	padding-top:2px;
	padding-bottom:3px;
	font-family:'나눔고딕';
}
.btn07_R{ background:url('/EWS/Common/images/btn_header.png') no-repeat right top; width:1px; }
.btn07_R_on{ background:url('/EWS/Common/images/btn_headerOn.png') no-repeat right top; width:1px; }

.btn08_L{ background:url('/EWS/Common/images/img_topmenu.png') no-repeat left top; width:25px;}
.btn08_L_on{ background:url('/EWS/Common/images/img_topmenuOn.png') no-repeat left top; width:25px;}
.btn08_C{ 
	background:#f89b20 url('/EWS/Common/images/img_topmenu.png') no-repeat 50% top;
	padding-top:10px;
	text-align:center;
	font-family:'나눔고딕';
	font-size:13px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
}
.btn08_C_on{ 
	background:#e4e3e3 url('/EWS/Common/images/img_topmenuOn.png') no-repeat 50% top;
	padding-top:10px;
	text-align:center;
	font-family:'나눔고딕';
	font-size:13px;
	font-weight:bold;
	color:#432c03;
	cursor:pointer;
}
.btn08_R{ background:url('/EWS/Common/images/img_topmenu.png') no-repeat right top; width:25px;}
.btn08_R_on{ background:url('/EWS/Common/images/img_topmenuOn.png') no-repeat right top; width:25px;}

.btn09_L{ background:url('/EWS/Common/images/filedn.gif') no-repeat left top; width:1px; }
.btn09_L_on{ background:url('/EWS/Common/images/filedn.gif') no-repeat left top; width:1px; }
.btn09_C{ background:url('/EWS/Common/images/filedn.gif') repeat-x 50% top; }
.btn09_C_on { background:url('/EWS/Common/images/filedn.gif') repeat-x 50% top; }
.btn09_R{ background:url('/EWS/Common/images/filedn.gif') no-repeat right top; width:1px; }
.btn09_R_on{ background:url('/EWS/Common/images/filedn.gif') no-repeat right top; width:1px; }
/* 버튼[E] */


/* 그리드[S] */
.gridBox a:link{ text-decoration:underline; color:#925701; }
.gridBox a:hover{ text-decoration:underline; font-weight:bold; color:#FF3300; }

.gridBox{ 
	border-top:2px solid #d9d7d3;
	border-right:1px solid #d9d7d3;
	border-bottom:1px solid #d9d7d3;
	border-left:1px solid #e1dfda;
}

.gridHeaderTable{
	background-repeat:x-repeat;
	background-position:bottom;
	border-top:none;
	border-right:none;
	border-bottom:1px solid #c2beb7;
	border-left:none;
	height:26px;
}

.gridHeaderTD{
	background-image: url('/EWS/Common/images/bg_care_table.jpg');
	font-size:11px;
	font-weight:normal;
	color:#B66C00;
	text-align:center;
	border-top:none;
	border-right:1px solid #e1dfda;
	border-bottom:1px solid #c2beb7;
	border-left:none;
	overflow:hidden;
	height:26px;
}

.gridBodyTable{
	border-top:none;
	border-right:none;
	border-bottom:1px solid #d9d7d3;
	border-left:none;
	height:24px;
}

.gridBodyTD{
	color:#666;
	overflow:hidden;
	border-top:1px solid #BDBDBD;
	text-align:center;
	border-right:1px solid #BDBDBD;
	border-bottom:1px solid #BDBDBD;
	border-left:none;
	height:24px;
}

.gridFooterTable{ border: 1px solid #c8c8d4; }
.gridFooterTD{
	background-color: #dcdcdc;
	color:#444444;
	font-weight:normal;
	font-size: 1em;
	padding-bottom: 10px;
	border: 1px solid #bcbcbc;
	text-align:center;
}
/* 그리드[E] */


/* 아이콘[S] */
.icon_C{
	background-image: url('/EWS/Common/images/icon_C.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:12px;
}
.icon_N{
	background-image: url('/EWS/Common/images/icon_N.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:12px;
}
.icon_P{
	background-image: url('/EWS/Common/images/icon_P.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:12px;
}
.icon_R{
	background-image: url('/EWS/Common/images/icon_R.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:12px;
}
.icon_Y{
	background-image: url('/EWS/Common/images/icon_Y.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:12px;
}

.icon_dp_A{
	background-image: url('/EWS/Common/images/icon_dp_A.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:21px; height:16px;
	margin-left:12px;
}
.icon_dp_E{
	background-image: url('/EWS/Common/images/icon_dp_E.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:21px; height:16px;
	margin-left:12px;
}
.icon_dp_O{
	background-image: url('/EWS/Common/images/icon_dp_O.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:21px; height:16px;
	margin-left:12px;
}
.icon_dp_R{
	background-image: url('/EWS/Common/images/icon_dp_R.gif'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:21px; height:16px;
	margin-left:12px;
}

/*.icon_SecView{
	background-image: url('/EWS/Common/images/ActualSizeHS.png'); 
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:16px; height:16px;
	margin-left:19px;
	cursor:pointer;
}*/

.grid1_columnstyle_1_ nobr, 
.grid1_columnstyle_2_ nobr, 
.grid1_columnstyle_3_ nobr, 
.grid1_columnstyle_4_ nobr, 
.grid2_columnstyle_1_ nobr, 
.grid2_columnstyle_2_ nobr, 
.grid2_columnstyle_3_ nobr,
.gridFile_columnstyle_4_ nobr,
.gridFile_columnstyle_5_ nobr{
	display:block;
	padding-top:4px;
	padding-left:12px;
	height:20px;
}

/* 아이콘[E] */

/* 타이틀[S] */
.title02{
	background:url('/EWS/Common/images/btn_bullet.png') no-repeat;
	padding:2px 10px 0px 18px;
	font-family:'나눔고딕';
	font-weight:bold;
	font-size:12px;
	color:#6a470a;
}
/* 타이틀[E] */


/* 페이지 리스트[S] */
.pageList_firsts{
	background-image: url('/EWS/Common/images/btn_p_first.gif'); 
	background-repeat:no-repeat;
	background-position:center left;
	width:22px; height:15px;
}

.pageList_prev{
	background-image: url('/EWS/Common/images/btn_p_prev.gif'); 
	background-repeat:no-repeat;
	background-position:center left;
	width:22px; height:15px;
}

.pageList_center{ padding:5px 5px 0px 5px; color:#666; }
.pageList_center a:link{ text-decoration:none; color:#666; }
.pageList_center a:hover{ text-decoration:none; color:#FF3300; }

.pageList_next{
	background-image: url('/EWS/Common/images/btn_p_next.gif'); 
	background-repeat:no-repeat;
	background-position:center right;
	width:22px; height:15px;
}

.pageList_end{
	background-image: url('/EWS/Common/images/btn_p_end.gif'); 
	background-repeat:no-repeat;
	background-position:center right;
	width:22px; height:15px;
}
/* 페이지 리스트[E] */

/* 트리[S] */
/* Open */
.tree01 .w2treeview_open_child .w2treeview_icon_navi {
	background-image: url('/EWS/Common/images/ico_minus.gif'); 
	background-repeat:no-repeat;
	background-position:center center;
}

/* Close */
.tree01 .w2treeview_close_child .w2treeview_icon_navi {
	background-image: url('/EWS/Common/images/ico_plus.gif'); 
	background-repeat:no-repeat;
	background-position:center center;
}
/* 트리[E] */


/* 시나리오 마스터[S] */
.content .title01{
	background:url('/EWS/Common/images/ico_local.jpg') no-repeat;
	margin:6px 0px 0px 8px;
	padding:3px 0px 0px 22px;
	font-size:12px;
	font-weight:bold;
	color:#F68B03;
}

.index_care{
	background:url('/EWS/Common/images/bg_care_treat.jpg') repeat-x left top;
	overflow:hidden;
}

.index_care .title02{
	background:url('/EWS/Common/images/btn_bullet.png') no-repeat;
	margin: 10px 0px 0px 18px;
	padding:2px 10px 0px 18px;
	font-family:'돋움';
	font-weight:bold;
	font-size:12px;
	color:#6a470a;
}

.index_care .select01{
	margin: 7px 0px 0px 0px;
	font-family:'돋움';
}

.index_txt{
	padding:8px 0px 0px 0px;
}

.index_txt .title02{
	background:url('/EWS/Common/images/btn_bullet.png') no-repeat;
	padding:2px 10px 0px 18px;
	font-family:'나눔고딕';
	font-weight:bold;
	font-size:12px;
	color:#6a470a;
}

.index_txt #textarea1{
	padding-top:5px;
	color:#666;
}

.line01{ border-bottom:1px solid #a6a39d; }
/* 시나리오 마스터[E] */


/* 시나리오[S] */
.search01{
	background:url('/EWS/Common/images/bg_dSearch.jpg') repeat-x;
}

.search01_R{ background:url('/EWS/Common/images/bg_dSearch_R.jpg') right top no-repeat; }

.search01 .title01{
	float:left;
	margin-left:20px;
	font-family:'나눔고딕';
	font-weight:bold;
	word-spacing:5px;
	padding-top:6px;
}
/* 시나리오[E] */


/* 로그인[S] */
.login_bg{ background:url('/EWS/Common/images/login_back.jpg') center 63px repeat-x; }
.login_main{ background:url('/EWS/Common/images/login_img.jpg') left 63px no-repeat; }
.login_main1{ background:url('/EWS/Common/images/login_img1.jpg') left top no-repeat; }
/* 로그인[E] */


/* 메인[S] */
.main_header{ background:url('/EWS/Common/images/bg_header.jpg') left top repeat-x; }

.main_header_box{ background:url('/EWS/Common/images/bg_header02.png') left top repeat-x; }

.main_header_topmenu{ 
	position: relative; 
	margin-top:19px; 
	margin-left:-15px; 
	float:left; 
	height: 31px; 
}

.main_header_info{ 
	text-align:right;
	font-size:11px;
	color:#804d05;
	padding-top:2px;
}

.main_leftmenu{ height:100% !important; }

.dept_bg01{
	background:url('/EWS/Common/images/bg_leftmenu.png') right top repeat-y;
}

.dept_bg02{ background:#EEE; }

.main_leftmenu .icon01{
	background:url('/EWS/Common/images/img_leftmenu_bul.gif') left top no-repeat;
	font-size:13px;
	letter-spacing:-1px;
	word-spacing:-1px;
	font-weight:bold;
	color:#674600;
	padding:10px 0 0 30px;
	selector-dummy : expression(this.hideFocus=true);
	cursor:pointer;
}

.main_leftmenu .icon01_on{
	background:url('/EWS/Common/images/img_leftmenu_bul.gif') left top no-repeat;
	font-size:13px;
	letter-spacing:-1px;
	word-spacing:-1px;
	font-weight:bold;
	color:#DC5004;
	padding:10px 0 0 30px;
	selector-dummy : expression(this.hideFocus=true);
	cursor:pointer;
}

.main_leftmenu .depth1{
	background:url('/EWS/Common/images/img_leftmenu_back.gif') right top no-repeat;
}

.main_leftmenu .depth1_on{
	background:url('/EWS/Common/images/img_leftmenu_back_on.gif') right top no-repeat;
}

.main_leftmenu .depth2{
	background:url('/EWS/Common/images/img_leftmenu02.gif') left top no-repeat;
	padding:8px 0 0 31px;
	font-size:12px;
	font-weight:normal;
	color:#756731;
	cursor:pointer;
}

.main_leftmenu .depth2_on{
	background:url('/EWS/Common/images/img_leftmenu02_on.gif') left top no-repeat;
	padding:8px 0 0 31px;
	font-size:12px;
	font-weight:normal;
	color:#DC5004;
	cursor:pointer;
}
/* 메인[E] */


/* 팝업[S] */
.popup{
	padding-bottom:6px;background:#F69305;
}

.popup_title{
	width:100%; 
	height:37px;
	background:url('/EWS/Common/images/bg_popup_title.jpg') no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#571A07;
	padding-left:50px;
	padding-top:15px;
}

.popup_content{
	background:#fff;
	border:2px solid #FAC840;
	padding:7px 7px 7px 7px;
	margin:0px 6px 0px 6px;
}
/* 팝업[E] */

